# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/
.env
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.log
